<!--<Sidebar  -->
  <nav class="navbar navbar-expand-lg navbar-light" id="sidebar">

    <ul [style.height.px]="screenHight">

      <li class="active">
        <a class="nav-link" href="hc2"> Highcharts </a>
      </li>
<!--
      <li class="active">
        <a  class="nav-link" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-copy"></i> Pages </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
        </ul>
      </li>
-->
    </ul>
  </nav>

