<div class = "maincontain">
  <div class="row">
    <div class="col-12">
      <a  href="ng-dygraphs">dy-graph</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="app-angular-highcharts">app-angular-highcharts</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="hc2"> Highcharts2 </a>
    </div>
  </div>
</div>

<!-- <div class = "maincontain">
  <div class="row">
    <div class="col-12">
      <a (click)="router.navigateByUrl('/ng-dygraphs')">dy-graph</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a (click)="router.navigateByUrl('/app-angular-highcharts')"> Angular Highcharts </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a (click)="router.navigateByUrl('/hc2')"> Highcharts2 </a>
    </div>
  </div>
</div>
-->
